<md-content 
	flex layout-fill
	style='background-color: #B19CD9;'
	>

	<md-content
		style='background-color: transparent; '
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='landing'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='materialdesign'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: white; text-shadow: 1px 1px grey; padding: 30px;'
		flex layout='column' layout-fill layout-margin
	>
		<span class='very-large-text' >My Responsibility</span>
		<span class='large-text' >* Developer and Architect and Manager and Product Owner</span>
		<span class='large-text' >* I have to live with my choices for a long time</span>
		<span class='large-text' >* Our deployments are inside big enterprises</span>
		<span class='large-text' >* My choices have to consider</span>
		<span class='large-text' style='padding-left:30px;'>  - low learning curve</span>
		<span class='large-text' style='padding-left:30px;'>  - ease of dev</span>
		<span class='large-text' style='padding-left:30px;'>  - easy to maintain</span>
		<span class='large-text' style='padding-left:30px;'>  - cross broswer compatibility</span>
		<span class='large-text' style='padding-left:20px;'>  - flexible to meet reasonably diverse needs</span>
	</md-content>

</md-content>