<md-content 
	flex layout-fill
	style='background: #FFD1DC; color: grey;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='demolayout'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='newproject'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: black;'
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-large-text' >Demo: Icons</span>
		<span class='large-text' >
			<a 
				style='text-decoration:none; color:black;'
				href='https://www.google.co.in/design/icons/' target='_'>
				Material Icons Page
			</a>
		</span>
		<br>
	</md-content>

</md-content>