<md-content 
	flex layout-fill
	style='background: url(assets/images/baby-eat-dogfood.jpg) no-repeat center center fixed; background-size: cover;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='keyfeatures'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='democomponents'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: black;'
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-very-large-text' >Dogfooding</span>
		<span >These slides are an Angular-Material project</span>
	</md-content>

</md-content>