<md-content 
	flex layout-fill
	style='background: #AEC6CF; color: white;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='thankyou'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref=''
      ng-disabled='true'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: white;'
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-large-text' >Gophercon India</span>
		<span class='large-text' >* The primary backend languge I work with</span>
		<span class='large-text' >* As part of the GDG, 10k Startups, etc. we've conducted many workshops</span>
		<span class='large-text' >* (Most Probably) Speaking at the event</span>
		<span class='large-text' >* Use the code D1000 to get a discount</span>
		<br>

		<md-content style='background-color: transparent; margin-top: 20px;'>
			<img src='assets/images/gophercon-india.png'>
		</md-content>

	</md-content>

</md-content>