<md-content 
	flex layout-fill
	style='background-color: #FF6961;'
	>

	<md-content
		style='background-color: transparent; '
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='ngmaterial'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='dogfooding'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: white; padding: 20px;'
		flex layout='column' 
	>
		<span class='large-text' >Key Features</span>
	</md-content>

	<md-content 
		style='background-color: transparent; color: white; text-shadow: 1px 1px grey; padding: 30px;'
		flex layout='column' layout-fill layout-margin
	>
		<span class='medium-text' >* Angular Components - Less Styles, More Structure</span>
		<span class='medium-text' >* Adaptive UI - different screens, different layouts</span>
		<span class='medium-text' style='padding-left:30px;'>  - breakpoints for different sizes and definable layout</span>
		<span class='medium-text' >* More than 30 Components</span>
		<span class='medium-text' style='padding-left:30px;'>  - fab buttons, menus, sidenav, datepicker, etc.</span>
		<span class='medium-text' >* Flexbox Layout</span>
		<span class='medium-text' >* Mobile Performance</span>
		<span class='medium-text' >* Cross-Browser Support</span>
		<span class='medium-text' >* Themes</span>
		<span class='medium-text' >* Great Dev Team - Google, Ionic, etc.</span>
		<span class='medium-text' >* Great Community</span>
	</md-content>

</md-content>