<md-content 
	flex layout-fill
	style='background: #836953; color: white;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
			ng-disabled="true" 
      title="Next"
      ui-sref='landing'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='aboutme'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background: #836953; color: white;'
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-large-text' >Material Design in your Web App</span>
		<span class='very-large-text' >Angular-Material</span>
		<br>
		<span class='large-text' >Sathish VJ</span>
	</md-content>

</md-content>