<md-content 
	flex layout-fill
	style='background: -webkit-radial-gradient(top center, ellipse cover, rgba(255,255,255,0.2) 0%,rgba(0,0,0,0.8) 100%), url(assets/images/material-design.jpg) no-repeat center center fixed; background-size: cover;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='aboutme'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='standards'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; '
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-very-large-text' style='color: red; text-shadow: 4px 4px yellow; '>Material Design</span>
		<span class='large-text'style='color: white; text-shadow: 2px 2px black; padding: 30px;'  >
			Material Design is a specification for a unified system of visual, motion, and interaction design that adapts across different devices and different screen sizes.
		</span>
	</md-content>

</md-content>