<md-content 
	flex layout-fill
	style='background: #C23B22; color: white;'
	>

	<md-content
		style='background-color: transparent;'
		layout="row" layout-align="space-between center"
	>
		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='demoicons'
      style='font-size: 2em;'>
      	<md-icon>navigate_before</md-icon>
    </md-button>

		<md-button 
			class='md-fab md-primary'
      title="Next"
      ui-sref='thankyou'
      style='font-size: 2em;'>
      	<md-icon>navigate_next</md-icon>
    </md-button>

  </md-content>

	<md-content 
		style='background-color: transparent; color: white;'
		flex layout='column' layout-fill layout-align='center center'
	>
		<span class='very-large-text' >Your Own Project (in moments)</span>
		<span class='large-text' >git clone --depth=1 https://github.com/angular/material-start demongmaterialx</span>
		<span class='large-text' >cd demongmaterialx && npm install</span>
		<span  style='font-size:1.7em;'><i>remove unnecessary node modules for demo</i></span>
		<span class='large-text' >start browser and ready to roll.</span>
		<br>
	</md-content>

</md-content>